@model Core.Dtos.NurseDto

<div class="form-group">
    <label class="control-label">Full Name</label>
    <input asp-for="FullName" class="form-control" />
    <span asp-validation-for="FullName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Document" class="control-label"></label>
    <input asp-for="Document" class="form-control" />
    <span asp-validation-for="Document" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Adresss" class="control-label"></label>
    <input asp-for="Adresss" class="form-control" />
    <span asp-validation-for="Adresss" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Phone" class="control-label"></label>
    <input asp-for="Phone" class="form-control" />
    <span asp-validation-for="Phone" class="text-danger"></span>
</div>